<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "{{url_for('static',filename = 'styles/base.css')}}">
</head>
<body>
    <section>
            <div class="form-box">
                <div class="form-value">
                <form action="" method = "POST" >
                    <h1>Login</h1>
                    <div class="inputbox">
                        <input type="email" required id="email" name="email" placeholder="Email">
                    </div>
                    <div class="inputbox">
                        <input type="password" required id="password" name="password" placeholder="Password">
                    </div>
                </form>
                <div class="forward">
                    <button>
                        <a href = "/home" id = "home"> Submit </a>
                    </button>
                    <div class="register">
                        <p>
                            Not registered? <a href="/sign-up" id="signUp">
                            Sign Up
                            </a>
                        </p>
                    </div>
                </div>
                </div>

            </div>
    </section>
</body>
</html>
